@charset "utf-8";
/* 
	Author :: Elodie BAYET
	  Role :: Fullstack Web Developer
	  Date :: 2020.10 + 2021.06 + 2021.12
	Origin :: Belgium, EU
*/

/*
Content : 
	•• Fonts
	•• Normalize
	•• Typography
	•• Composition
	-
	@ (max-width:959px), (any-hover:none)
	@ (min-width:960px) and (any-hover:hover)
*/

/*
	Fonts
*/
@font-face {
	font-family: "Barlow Light";
	font-style: normal;
	font-weight: 200;
	src: url('../../store/fonts/barlow-light.eot'); /* IE9 Compat Modes */
	src: local('Barlow Light'), local('Barlow-Light'),
		url('../../store/fonts/barlow-light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../store/fonts/barlow-light.woff') format('woff'); /* Modern Browsers */
	font-display: fallback;
}
@font-face {
	font-family: "Barlow Light Italic";
	font-style: italic;
	font-weight: 200;
	src: url('../../store/fonts/barlow-lightitalic.eot'); /* IE9 Compat Modes */
	src: local('Barlow Light Italic'), local('Barlow-Light-Italic'),
		url('../../store/fonts/barlow-lightitalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../store/fonts/barlow-lightitalic.woff') format('woff'); /* Modern Browsers */
	font-display: fallback;
}
@font-face {
	font-family: "Barlow";
	font-style: normal;
	font-weight: 400;
	src: url('../../store/fonts/barlow-regular.eot'); /* IE9 Compat Modes */
	src: local('Barlow Regular'), local('Barlow-Regular'),
		url('../../store/fonts/barlow-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../store/fonts/barlow-regular.woff') format('woff'); /* Modern Browsers */
	font-display: fallback;
}
@font-face {
	font-family: "Barlow Italic";
	font-style: italic;
	font-weight: 400;
	src: url('../../store/fonts/barlow-italic.eot'); /* IE9 Compat Modes */
	src: local('Barlow Italic'), local('Barlow-Italic'),
		url('../../store/fonts/barlow-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../../store/fonts/barlow-italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../store/fonts/barlow-italic.woff') format('woff'); /* Modern Browsers */
	font-display: fallback;
}
@font-face {
	font-family: "Barlow Semibold";
	font-style: normal;
	font-weight: 600;
	src: url('../../store/fonts/barlow-semibold.eot'); /* IE9 Compat Modes */
	src: local('Barlow Semibold'), local('Barlow-Semibold'),
		url('../../store/fonts/barlow-semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../../store/fonts/barlow-semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../store/fonts/barlow-semibold.woff') format('woff'); /* Modern Browsers */
	font-display: fallback;
}
@font-face {
	font-family: "Barlow Semibold Italic";
	font-style: italic;
	font-weight: 600;
	src: url('../../store/fonts/barlow-semibolditalic.eot'); /* IE9 Compat Modes */
	src: local('Barlow Semibold Italic'), local('Barlow-Semibold-Italic'),
		url('../../store/fonts/barlow-semibolditalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../../store/fonts/barlow-semibolditalic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../store/fonts/barlow-semibolditalic.woff') format('woff'); /* Modern Browsers */
	font-display: fallback;
}

/*
	Normalize
*/
html {
	font-family: Verdana, sans-serif;
	font-size: .625em;
}
body { 
	font-family: "Barlow", sans-serif;
	font-weight: 400;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
	min-height: 100vh;
}
body, body *, body *::before, body *::after { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li { 
	list-style: none;
}
abbr, button, select,
a, a:link, a:visited, a:hover, a:focus, a:active { 
	text-decoration: none;
}
button, img, hr, iframe,
fieldset, input, input:invalid, textarea, textarea:invalid, select, 
a img, a:link img, a:visited img, a:hover img, a:focus img, a:active img { 
	border: none;
}
input:invalid, textarea:invalid {
	box-shadow: none;
}
abbr, button, img, hr, iframe,
fieldset, input, input:invalid, textarea, textarea:invalid, select,
a, a:link, a:visited, a:hover, a:focus, a:active,
a img, a:link img, a:visited img, a:hover img, a:focus img, a:active img {
	outline: 0;
}
button:not(.disabled):hover,
input[type="submit"]:not(:disabled):hover {
	cursor: pointer;
}
button, select {
	text-transform: none;
}
img { 
	width: 100%;
	height: auto;
}
object {
	width: 100%;
	height: 100%;
}


/*
	Typography
*/

/* Font-Families */
main h1, main h2, main h3, main h5,
main time, main strong, main b,
main a:not([class]), main .timelapse {
	font-family: "Barlow Semibold", sans-serif;
	font-weight: 600;
}
main h4 {
	font-family: "Barlow Light", sans-serif;
	font-weight: 200;
	text-transform: uppercase;
}
main em, 
main figcaption { 
	font-family: "Barlow Italic", sans-serif;
	font-style: italic;
}

/* Text & Paragraphs */
header nav li,
footer nav li {
	font-size : 1.6rem;
	line-height: 1.5;
	letter-spacing: .25rem;
	text-transform: uppercase;
}
main h1 {
	font-size : 7.0rem;
	line-height: 1;
	letter-spacing: -0.85rem;
	text-transform: uppercase;
}
main h2 {
	font-size: 2.4rem;
	line-height: 1.5;
	letter-spacing: .25rem;
	text-transform: uppercase;
	margin-bottom: 3.75%;
}
main h3 {
	font-size: 2.1rem;
	line-height: 1.5;
	letter-spacing: .15rem;
	margin-top: 18px;
}
main h4 {
	font-size: 1.8rem;
	line-height: 1.5;
	letter-spacing: .15rem;
	margin-top: 12px;
}
main h5, main h6,
main p, main li, main time, main button,
main label, main input, main select, main textarea {
	font-size: 1.4rem;
	line-height: 1.75;
	letter-spacing: .15rem;
	margin-top: 12px;
}
main figcaption,
main .timelapse {
	font-size: 1.2rem;
	letter-spacing: .15rem;
	line-height: 1.75;
	margin-top: 9px;
}
main samp {
	font-size: 1.2rem;
	line-height: 1;
	display: block;
}
main small {
	font-size: 86%; /* ± 12.04px */
}
main sup {
	font-size: 72%; /* ± 10.08px */
	vertical-align: super;
	text-transform: lowercase !important; /* force to lower */
}

/*
	Composition
*/

/* Menu System */
nav li {
	display: inline-block;
}
nav li a {
	padding-top: 8px;
	padding-bottom: 8px;
	display: block;
}
nav:not(.socialmenu) li {
	margin: 12px 24px;
}
nav.socialmenu li {
	margin: 12px 15px; /* 15px for corr. visual space eq. w/ others menu > li */
}
nav.socialmenu li a {
	padding-right: 8px;
	padding-left: 8px;
}
nav.socialmenu .symbol {
	width: 28px;
	height: 28px;
}

/* #ui* */
#uihead, #uifoot {
	text-align: center;
}

/* Main U-Interface Header */
#uihead {
	padding: 0 3.75%;
}
html:not(.nojs) #uihead {
	position: sticky;
	top: 0px;
	z-index: 100;
}
#uihead .headline {
	padding: 14px 0 12px;
	display: flex;
	justify-content: space-between;
}
#uihead .applogo {
	display: block;
	width: 48px;
	text-align: center;
}
#uihead .applogo .icon {
	width: 32px;
	white-space: nowrap;
	display: inline-block;
}
#uihead .headline button {
	top: 2px;
	position: relative;
}
#uihead .headline button:first-of-type {
	left: -14px;
}
#uihead .headline button:last-of-type {
	left: 14px;
}
#uihead .navigation {
	overflow: hidden;
}
#uihead .navigation ul {
	padding: 12px 0;
}

/* Main U-Interface Footer */
#uifoot {
	padding: 0 3.75%;
	margin-top: 24px;
}
#uifoot .headline > * {
	vertical-align: middle;
	display: inline-block;
}
#uifoot .applogo {
	margin: 0 24px 2px;
}
#uifoot .applogo .icon {
	white-space: nowrap;
	display: inline-block;
	width: 214px;
}

/* Main Content System */
main {
	margin: 0 auto;
	max-width: 1036px;
}

main noscript {
	font-size: 1.8rem;
	line-height: 1.5;
	letter-spacing: .15rem;
	text-align: center;
	display: block;
	padding-top: 1.875%;
	padding-bottom: 1.875%;
}
html:not(.nojs) main noscript {
	display: none;
}
main .nomodule {
	padding-top: 0;
	padding-bottom: 0;
	display: inline-block;
}

/* Sections */
main > * {
	position: relative;
	padding: 3.75%; 
}

/* Share System (!) depends on layout because only at one place */
#share {
	position: absolute;
	z-index: 50;
	right: 3.75%;
	top: 50%;
	margin-top: -20px;
}
.shares {
	-webkit-transition: height .25s ease-in-out;
	transition: height .25s ease-in-out;
}
.shares li {
	margin-top: 0;
}
.shares li a {
	padding: 4px;
}
.shares button {
	display: none;
}


/* Columns and grid System : 520 : 720 : 960 */
@media (min-width:520px){
	.grid {
		margin-right: -1.875%;
		margin-left: -1.875%;
		flex-wrap: wrap;
		justify-content: flex-start;
		display: -webkit-flex;
		display: flex;
	}
	h2 + .grid {
		margin-top: -3.75%;
	}
	.grid [class*="col-"] {
		padding-left: 1.875%;
		padding-right: 1.875%;
		width: 100%;
		margin-top: 3.75%;
	}
	.grid.sm .col-25,
	.grid.sm .col-33,
	.grid.sm .col-50,
	.grid.sm .col-75 {
		width: 50%;
	}
	.grid [class*="col-"] > *:first-child {
		margin-top: 0;
	}
}
@media (min-width:720px){
	.grid.md .col-25,
	.grid.md .col-33,
	.grid.md .col-50,
	.grid.md .col-75 {
		width: 50%;
	}
	.grid.sm .col-25 {
		width: 25%;
	}
	.grid.sm .col-33 {
		width: 33.33%;
	}
	.grid.sm .col-75 {
		width: 75%;
	}
	.columns {
		margin-top: 18px;
		-webkit-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 3.75%; 
		column-gap: 3.75%; 
	}
	.columns h3 {
		break-after: avoid;
	}

	/* Hack margin problem related to columns display */
	.columns *:first-child {
		margin-top: 0;
	}
}
@media (min-width:960px){
	.grid.lg .col-50 {
		width: 50%;
	}
	.grid.lg .col-67 {
		width: 67%;
	}
	.grid.md .col-25,
	.grid.lg .col-25 {
		width: 25%;
	}
	.grid.md .col-33,
	.grid.lg .col-33 {
		width: 33%;
	}
	.grid.lg .col-75,
	.grid.md .col-75 {
		width: 75%;
	}
}


/* 
	Breakpoints
*/
@media ( max-width:959px ){
	/* Header */
	html.nojs #uihead {
		position: relative;
	}
	html:not(.nojs) #uihead.closed .navigation{
		height: 1px;
	}

	/* Share System */
	.shares {
		text-align: center;
		width: 44px;
		margin-right: -13px;
	}
	.shares ul {
		overflow: hidden;
	}
	.shares li {
		padding-top: 24px;
	}
	html:not(.nojs) .shares.closed ul {
		height: 1px;
	}
	html:not(.nojs) .shares button {
		display: block;
		margin-top: 0;
	}
}
@media ( min-width:960px ){
	/* Main U-Interface Header */
	#uihead {
		padding-top: .25%;
	}
	#uihead .headline {
		display: block;
		float: left;
		padding: 16px 0 0 0;
		left: -4px;
		position: relative;
	}
	#uihead .headline button{
		display: none;
	}
	#uihead .applogo .icon {
		width: 36px;
	}
	#uihead .navigation {
		display: flex;
		justify-content: space-between;
	}
	#uihead .navigation .langmenu{
		margin-right: -16px;
		margin-left: -16px;
	}

	/* Main U-Interface Footer */
	#uifoot .headline,
	#uifoot .navigation {
		vertical-align: middle;
		display: inline-block;
	}

	/* Main Content */
	main h1 {
		font-size : 8.8rem;
		letter-spacing: -1.2rem;
	}

	/* Share system */
	.shares li {
		display: inline-block;
		margin: 0;
	}
	.shares li ~ li {
		margin-left: 24px;
	}
}


/*
	Author Sign
*/
#author {
	/* text-align: center; */
	margin-top: 24px;
	padding-bottom: 24px;
}
#author p {
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: rgb(186,186,191);
	background-color: transparent;
}