@charset "utf-8";
/* 
	Author :: Elodie BAYET
	  Role :: Fullstack Web Developer
	  Date :: 2020.10 + 2021.06 + 2021.12
	Origin :: Belgium, EU
*/

/*
Content : 
	•• Generic
	•• Lists : .list, .listitem, .listline, a.button, a.link
	•• Elements : button.button, .skill, .timelapse
	•• Dedicated Content : .anecdotes, .filters, .works, .stats
	•• Evolved System : .loading, .tooltip
*/


/*
	Generic
*/

/* Hide but read by screen readers */
.blind { 
	font-size: .1rem !important; 
	line-height: .1rem !important;
	padding: 0 !important; 
	margin: 0 !important; 
	top: 0 !important; 
	left: -10000px !important;
	position: absolute !important;
}

/* Hide and not read by screen readers */
.hide {
	display: none !important;
}


/*
	Lists
*/

/* Classic Lists : li or assimilate render ? */
.list > li::before {
	content: "••";
	padding-right: 8px;
}

/* Special Lists : li or assimilate render ? */
.listitem {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
[class$='listitem'] {
	justify-content: space-between;
}
.listitem > li {
	margin-bottom: 12px;
}
.listitem.center {
	justify-content: center;
}
.listitem.center > li:not(.logo) {
	margin-right: 18px;
	margin-left: 18px;
}
.listitem.left > li:not(.logo) {
	margin-right: 36px;
}
.listitem.right {
	justify-content: flex-end;
}
.listitem.right > li:not(.logo) {
	margin-left: 36px;
}
.listitem.apart > li {
	padding-right: 8px;
}
.listitem.apart > li ~ li::before {
	content: "••";
	padding-right: 8px;
}

:not(li) > .listline {
	margin-top: 12px; /* corr. non-margin on inline elements if not inside another list */
}
.listline > li {
	display: inline;
	white-space: pre-wrap;
}
.listline.center {
	text-align: center;
}
.listline.apart > li {
	padding-right: 5px;
}
.listline.apart > li ~ li::before {
	content: "—";
	padding-right: 8px;
}

/* Pictorial <a> elements in Special Lists */
a.link, a.button {
	display: inline-block;
}
a.link > span, a.button > span {
	vertical-align: middle;
	margin-right: 7px;
	display: inline-block;
}
a.button {
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 4px 18px;
	max-width: 250px;
	overflow: hidden;
	vertical-align: middle;
}

/* Illustrative elements in Special Lists */
.center > .logo {
	margin-right: 9px;
	margin-left: 9px;
}
.left > .logo {
	margin-right: 18px;
}
.logo {
	height: 24px;
}
.logo img {
	width: auto;
	height: 24px;
}


/*
	Elements
*/

/* Pictorial button elements */
button.button {
	text-transform: uppercase;
	margin-right: auto;
	margin-left: auto;
	padding: 3px 18px;
	display: block;
}

/* UI element @debug : util ?? */
.ideogram {
	text-align: center;
	overflow: hidden;
	display: block;
	width: 44px;
	height: 44px;
}
.ideogram .symbol {
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}

/* Skill Box */
.skill {
	text-align: center;
	padding-bottom: 1.875%; /* a bit more space for pictural .grid .col-* */
}
.skill .icon {
	padding-bottom: 14px;
}
.skill img {
	height: 48px;
}
.skill p small {
	display: block;
}

/* Anecdotes Box */
.anecdotes {
	text-align: center;
}
.anecdotes p {
	font-size: 1.8rem;
}

/* Timelapse Box */
.timelapse {
	padding-bottom: 7px;
	display: inline-block; /* limit border-bottom */
}
.timelapse ~ h3 {
	margin-top: 9px;
}


/*
	Dedicated Content
*/

/* Statistic Block */
.stats p .logo img {
	vertical-align: bottom;
	margin-right: 9px;
}
.stats p > span {
	margin-top: 9px;
	display: block;
}
@media (min-width:520px) {
	.stats > div[class^="col-"] {
		margin-top: 1.875%;
	}
}

/* Work Block */
.works article a.button {
	max-width: 190px;
}


/*
	Evolved Systems
*/


/* Patchwork System */
.patchwork {
    text-align: center;
}
.patchwork > div {
    display: inline-block;
}
.patchwork .hard {
    width: 33.33%;
}
.patchwork .hard .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 63px;
    height: 63px;
}
.patchwork .hard img {
    height: 42px;
    width: auto;
}

.patchwork .soft {
    margin-top: 9px;
    margin-bottom: 9px;
    width: 50%;
    height: 63px;
    position: relative;
}
.patchwork .soft div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -22px;
    margin-left: -22px;
    top: 50%;
    left: 50%;
    width: 44px;
    height: 44px;
}
.patchwork .soft h5 {
    font-size: 1.6rem;
    line-height: 1;
    letter-spacing: .3rem;
    margin-top: 0;
    padding: 4px 12px 6px;
}
@media (min-width:399px) {
    .patchwork .hard {
        width: 33.33%;
        min-width: 120px;
    }
    .patchwork .hard .icon {
        width: 84px;
        height: 84px;
    }
    .patchwork .hard img {
        height: 56px;
    }
    .patchwork .soft {
        width: 66%;
        height: 84px;
    }
    .patchwork .soft + .soft {
        margin-left: -32%;
    }
}


/* Project System */
.project {
    margin-right: -3.75%;
    margin-left: -3.75%;
    position: relative;
}
.project ~ .project {
    margin-top: 12%;
}
.project .route {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 43;
}
.project time {
    font-size: 2.4rem;
    text-indent: 3.5%;
    line-height: .7;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 100%;
    margin: 0;
    padding: 0;
    z-index: 39;
}
.project .summary {
    padding: 3.5%;
}
.project .summary > * {
    margin: 0;
}
.project h2 {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
	font-size: 2.1rem;
}
.project h3 {
	font-size: 1.8rem;
}
.project h3 em {
    font-family: "Barlow Italic", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.project .cover div {
	height: 184px;
	display: flex;
	justify-content: center;
	align-items: center;
    overflow: hidden;
}
@media (min-width:880px){
	.project ~ .project {
		margin-top: 7.5%;
	}
    .project > div {
        width: 50%;
        display: inline-block;
        vertical-align: middle;
    }    
    .project .summary {
        padding: 1% 1% 1% 3.5%;
    }
    .project .cover div {
        height: 240px;
    }
}
@media (min-width:1200px){
    .project time {
        font-size: 4.4rem;
        line-height: .66;
        text-align: center;
        text-indent: initial;
        width: 240px;
        bottom: 0;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        text-shadow: -4px -2px 4px rgba(0,0,0,.66);
    }
}

/* Gallery System */
#gallery { 
	display: none;  /* Depends on JS program runing */
}

/* Tooltip System */
.tooltip { 
	position: relative;
	overflow: visible;
}
.tooltip .tip {
	display: none;
}
@media (min-width:960px) and (any-hover:hover){
	.tooltip .tip { 
		font-size: 1.0rem;
		line-height: 1.5;
		white-space: nowrap;
		letter-spacing: .25rem;
		padding: 7px 18px;
		position: absolute;
		z-index: 300;
	}
	.tooltip:hover .tip {
		display: block;
	}
	.tooltip [class*="top-"] {
		margin-bottom: 12px;
	}
	.tooltip:hover [class*="top-"] {
		bottom: 100%;
	}
	.tooltip [class*="bottom-"] {
		margin-top: 12px;
	}
	.tooltip:hover [class*="bottom-"] {
		top: 100%;
	}
	.tooltip [class*="-right"] {
		margin-left: -16px;
		left: 50%;
	}
	.tooltip [class*="-left"] {
		margin-right: -16px;
		right: 50%;
	}
}