@charset "utf-8";
/* 
	Author :: Elodie BAYET
	  Role :: Fullstack Web Developer
	  Date :: 2020.10 + 2021.06 + 2021.12
	Origin :: Belgium, EU
*/

/* Information Block */
.info h3 {
	font-size: 1.4rem;
}
.info .email::after {
	color: var(--lighten);
	content: " ask@elodiebayet.com";
}

/* Form Block */
form {
	margin-top: 24px;
}
form > div + div {
	margin: 36px 0 0;
}
form div:nth-child(6) {
	display: none;
}
form label:first-child {
	letter-spacing: .25rem;
	text-transform: uppercase;
}
form label:first-child,
form input:not([type="radio"]),
form select,
form textarea {
	display: block;
	width: 100%;
	max-width: 100%;
}
form input:not([type="radio"]) {
	padding-bottom: 2px;
}
form .checkon {
	display: inline-block;
	margin-right: 24px;
}
form .checkon ~ .checkon {
	padding-left: 25px;
	border-left: 1px solid var(--dark);
}
form .checkon:hover {
	cursor: pointer;
}
form input[type="radio"] {
	margin-top: 6px;
	margin-right: 9px;
	position: relative;
}
form select {
	padding: 2px 0 8px;
}
form div p {
	height: 1px;
	overflow: hidden;
	margin: -1px 0 0 0;
}
form .invalid p {
	height: auto; 
	padding: 3px 5px;
}

form input[type="submit"] {
	text-align: center;
	width: 50%;
	padding: 7px 0 5px;
}

@media (min-width:860px){
	form .inline {
		width: 49%;
		min-width: 198px;
		padding-right: 24px;
		display: inline-block;
		vertical-align: top;
	}
	form .inline + .inline {
		padding-right: 0;
		padding-left: 24px;
	}
}