@charset "utf-8";
/* 
	Author :: Elodie BAYET
	  Role :: Fullstack Web Developer
	  Date :: 2020.10 + 2021.06 + 2021.12
	Origin :: Belgium, EU
*/

/* Demo Block */
.demo {
	margin-bottom: 48px;
	position: relative;
	height: 280px;
}

.demo .route {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
}

.demo .cover {
	height: 280px;
	margin-left: 118px;
}
.demo .cover div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 264px;
	overflow: hidden;
}
.demo .summary {
	text-align: right;
	width: 280px;
	height: auto;
	position: relative;
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.demo .summary .date {
	font-size: 2.7rem;
	margin: 0 0 0 14px;
	line-height: .9;
	letter-spacing: 0rem;
	margin: 0;
	display: block;
}
.demo .summary .title {
	font-size: 2.7rem;
	text-transform: uppercase;
	margin-top: 0;
}
.demo .summary .technics {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end; 
	padding-bottom: 12px;
}
.demo .summary .technics li {
	margin-left: 12px;
	margin: 6px 0 6px 12px;
	width: auto;
}
.demo .summary .technics li img {
	height: 24px;
	width: auto;
	display: block;

}

.demo .summary .edge {
	width: 52px;
	height: 52px;
	position: absolute;
	top: 100%;
	display: block;
}
.demo .summary .edge:nth-child(4) {
	right: 0;
}
.demo .summary .edge:nth-child(5) {
	right: 52px;
}
.demo .summary .edge:nth-child(6) {
	right: 104px;
}
.demo .summary .edge:nth-child(7) {
	right: 156px;
}