@charset "utf-8";
/* 
	Author :: Elodie BAYET
	  Role :: Fullstack Web Developer
	  Date :: 2020.10 + 2021.06 + 2021.12
	Origin :: Belgium, EU
*/

html[lang="fr"] *[lang="en"], html[lang="fr"] a[hreflang="en"],
html[lang="en"] *[lang="fr"], html[lang="en"] a[hreflang="fr"] {
	display: none !important;
}

#moved {
	background-image: linear-gradient( 90deg, var(--x-dark), var(--x-dark) );
	background-size: 480px 1px;
	background-repeat: no-repeat;
	background-position: 50% 0%;
}

#moved > div figure img {
	border: 4px solid var(--bright);
}

#moved > div a,
#moved > div a:link,
#moved > div a:visited {
	font-family: "Barlow Semibold";
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1.75;
	text-transform: uppercase;
	text-align: center;
	color: var(--bg-color);
	background-color: var(--font-color);
	padding: 4px 12px 2px;
	margin: 12px 0 0;
	display: block;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#moved > div a:hover,
#moved > div a:focus,
#moved > div a:active {
	color: rgb(0,0,0);
	background-color: var(--origin);
}

/*
	Medias
*/
@media screen and (min-width:754px){	
	#moved > div {
		display: flex;
		margin: 0 -1.75%
	}
	#moved > div > * {
		width: 50%;
		padding: 0 1.75%
	}
}