@charset "utf-8";
/* 
	Author :: Elodie BAYET
	  Role :: Fullstack Web Developer
	  Date :: 2020.10 + 2021.06 + 2021.12
	Origin :: Belgium, EU
*/

/* - GALLERY - */
#gallery {
    color: var(--font-color);
    background-color: rgba(0,0,0,0.85);
    width: 100%; 
    height: 100%;
    padding: 2%;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    position: fixed; 
    z-index: 1000; 
    overflow: hidden;
    display: block;
}

/* Quit button */
#quit {
    top: 9px;
    right: 9px;
    opacity: .5;
    position: absolute;
    z-index: 1005;
}
#quit:hover {
    opacity: 1.0;
}
#quit .uinav {
    background-position: 13px var(--ui-cross);
    -webkit-filter: contrast(0%);
    filter: contrast(0%);
}

/* Image Navigation */
#gallery .seek {
    width: 15vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    position: absolute;
    opacity: .5;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#gallery .seek:hover {
    cursor: pointer;
    opacity: 1.0;
}
#gallery .seek .uinav {
    border: 1px solid var(--bright);
    border-radius: 22px;
    margin-top: -44px;
    top: 50vh;
    position: relative;
    -webkit-filter: contrast(0%);
    filter: contrast(0%);
}
#prev {
    padding-left: 15px;
    left: 0;
    z-index: 1003;
}
#next {
    padding-right: 15px;
    right: 0;
    text-align: right;
    z-index: 1004;
}
#prev .uinav {
    background-position: 12px var(--ui-prev);
}
#next .uinav {
    background-position: 12px var(--ui-next);
}

/* Image Holder */
#holder {
    height: 90%;
    position: relative;
    z-index: 1002;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* While picture is not there */
    background-image: url('../../store/interface/loader_animation_gn.svg');
}

/* Image Legend */
#legend {
    height: 10%;
    position: relative;
    z-index: 1001;
}
#legend p {
    font-size: 1.6rem;
    line-height: 1.75;
    letter-spacing: .1rem;
    color: var(--bright);
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}