@charset "utf-8";
/* 
	Author :: Elodie BAYET
	  Role :: Fullstack Web Developer
	  Date :: 2020.10 + 2021.06 + 2021.12
	Origin :: Belgium, EU
*/

body {
    position: relative;
}

main h1 {
    position: relative;
    width: 100%;
}
main h1 a::before {
    font-size: 3.6rem;
    margin-top: -1.8rem;
	top: 50%; 
    left: 0%;
	content: "‹";
	position: absolute;
    opacity: .2;
}
main h1 span {
    font-family: "Barlow Light Italic", sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 1.6rem;
    line-height: inherit;
    letter-spacing: .15rem;
    text-transform: none;
    display: block;
    position: absolute;
    left: 25%;
    bottom: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
}

#summary h3 {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
}
#summary .date {
    margin-top: -1.875%;
}
#summary .banner {
    display: block;
    margin: 3.75% -3.75%;
}
#summary h2, 
#summary h3, 
#summary h4,
#summary p {
    text-align: center;
}

/* Portfolio System */
#portfolio .grid > div ~ div figure {
    margin-top: 36px;
}

/* Bypass System */
.bypass {
    text-align: center;
    padding: 0; /* cancel main direct-child padding */
}
.bypass a {
    font-family: "Barlow", sans-serif !important;
    font-weight: 400 !important;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: .15rem;
    position: relative;
    padding: 6px 24px;
    display: inline-block;
    margin: 12px 0;
}

@media (min-width:960px){
    #summary h2 {
        font-size: 2.8rem;
    }
}
@media (min-width:1280px){
    .bypass {
        position: fixed;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        height: 36px;
        width: 100vh;
    }
    .bypass a {
        margin: 0;
    }
    .bypass.left {
        left: 36px;
        z-index: 60;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        bottom: -36px;
    }
    .bypass.right {
        right: 72px;
        z-index: 61;
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        top: -36px;
    }
}

/* [!] - Gallery conditions */
@media (min-width:600px) and (min-height:860px), screen and (min-width:860px) and (min-height:600px){
    /* If JS on : Portfolio active */
    html:not(.nojs) #portfolio .grid.md .col-50 {
        width: 50%;
    }
    html:not(.nojs) #portfolio .grid > div ~ div figure {
        margin-top: 0;
    }
    html:not(.nojs) #portfolio figure {
        line-height: 200px;
        height: 200px;
        position: relative;
        overflow: hidden;
    }
    html:not(.nojs) #portfolio figure img {
        border: none;
        vertical-align: middle;
    }
    html:not(.nojs) #portfolio figure figcaption {
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: 100%;
        width: 100%;
        display: block;
        margin: 0;
        padding: 24px 12px;
    }
    html:not(.nojs) #portfolio figure:hover figcaption {
        top: 0%;
        height: 100%;
    }
}
@media (min-width:960px) {
    html:not(.nojs) #portfolio .grid.md .col-50{
        width: 25%;
    }
}