@charset "utf-8";
/* 
	Author :: Elodie BAYET
	  Role :: Fullstack Web Developer
	  Date :: 2020.10 + 2021.06 + 2021.12
	Origin :: Belgium, EU
*/

/*
	Copied from 'Aerial' CSS Template
*/

/* Fonts */
@font-face {
	font-family: "Barlow";
	font-style: normal;
	font-weight: 400;
	src: url('../../store/fonts/barlow-regular.eot'); /* IE9 Compat Modes */
	src: local('Barlow Regular'), local('Barlow-Regular'),
		url('../../store/fonts/barlow-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../store/fonts/barlow-regular.woff') format('woff'); /* Modern Browsers */
	font-display: fallback;
}
@font-face {
	font-family: "Barlow Semibold";
	font-style: normal;
	font-weight: 600;
	src: url('../../store/fonts/barlow-semibold.eot'); /* IE9 Compat Modes */
	src: local('Barlow Semibold'), local('Barlow-Semibold'),
		url('../../store/fonts/barlow-semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../store/fonts/barlow-semibold.woff') format('woff'); /* Modern Browsers */
	font-display: fallback;
}

/* Normalize */
html {
	font-family: Verdana, sans-serif;
	font-size: .625em;
}
body, body *, body *::before, body *::after { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body { 
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
    min-height: 100vh;
    color: rgb(255,255,255);
    background-color: rgb(36,36,40);
    background-image: url('../../store/interface/background_hive_384.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 384px;
	font-family: "Barlow", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

li { 
	list-style: none;
}

a, a:link, a:visited, a:hover, a:focus, a:active { 
	text-decoration: none;
}

img, a img, a:link img, a:visited img, a:hover img, a:focus img, a:active img { 
	border: medium none;
}

img, a, a:link, a:visited, a:hover, a:focus, a:active,
a img, a:link img, a:visited img, a:hover img, a:focus img, a:active img {
	outline: 0;
}

img { 
	width: 100%;
	height: auto;
}

/* Content */
.blind {
    font-size: 0.1rem !important; 
	line-height: 0.1rem !important;
	padding: 0 !important; 
	margin: 0 !important; 
	top: 0 !important; 
	left: -99999px !important;
	position: absolute !important; 
	display: inline !important;
	overflow: hidden !important;
	z-index: 1 !important;
	white-space: nowrap !important;
}

main {
    width: 100vw;
    max-width: 472px;
    padding: 0 24px;
}

main h1 {
    position: relative;
}

main h2 {
    font-size: 1.6rem;
    line-height: 1.75;
    letter-spacing: .15rem;
    text-align: right;
    text-transform: uppercase;
    color: rgb(186,186,191);
    background-color: transparent;
    margin-bottom: 9px;
}

main .title {
    font-family: "Barlow Semibold", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.25;
    letter-spacing: .15rem;
    text-align: right;
    color: rgb(194,232,0);
    background-color: transparent;
    margin-top: 7px;
}

main nav {
    margin-top: 18px;
}
main nav ul {
    display: flex;
    justify-content: flex-end;
}
main nav li + li {
    margin-left: 36px;
}
main nav a, main nav a:link, main nav a:visited {
    font-family: "Barlow Semibold", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.75;
    letter-spacing: .15rem;
    text-transform: uppercase;
    text-align: center;
    color: rgb(11,11,12);
    background-color: transparent;
    padding: 9px 0;
    display: block;
}
main nav a:hover, main nav a:focus, main nav a:active {
    color: rgb(0,0,0);
}
main nav a span, main nav a:link span, main nav a:visited span {
    background-color: rgb(240,240,242);
    padding: 4px 12px 2px;
    display: block;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
main nav a:hover span, main nav a:focus span, main nav a:active span {
    background-color: rgb(170,205,0);
}

/* Medias */
@media (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
    body {
        background-image: url('../../store/interface/background_hive_768.jpg');
    }
}
@media (-webkit-min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx){
    body {
        background-image: url('../../store/interface/interface/background_hive_1152.jpg');
    }
}