@charset "utf-8";
/* 
	Author :: Elodie BAYET
	  Role :: Fullstack Web Developer
	  Date :: 2020.10 + 2021.06 + 2021.12
	Origin :: Belgium, EU
*/

/*
	Copied from 'Aerial' CSS Template
*/

/* Fonts */
@font-face {
	font-family: "Barlow";
	font-style: normal;
	font-weight: 400;
	src: url('../../store/fonts/barlow-regular.eot'); /* IE9 Compat Modes */
	src: local('Barlow Regular'), local('Barlow-Regular'),
		url('../../store/fonts/barlow-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../store/fonts/barlow-regular.woff') format('woff'); /* Modern Browsers */
	font-display: fallback;
}
@font-face {
	font-family: "Barlow Semibold";
	font-style: normal;
	font-weight: 600;
	src: url('../../store/fonts/barlow-semibold.eot'); /* IE9 Compat Modes */
	src: local('Barlow Semibold'), local('Barlow-Semibold'),
		url('../../store/fonts/barlow-semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../store/fonts/barlow-semibold.woff') format('woff'); /* Modern Browsers */
	font-display: fallback;
}

/* Models */
@-webkit-keyframes FlashOn {
	0%{ 	border: 2px solid rgb(178,11,43); }
	50%{	border: 2px solid rgb(36,36,40);  }
	100%{	border: 2px solid rgb(178,11,43); }
}
@keyframes FlashOn {
	0%{ 	border: 2px solid rgb(178,11,43); }
	50%{ 	border: 2px solid rgb(36,36,40);  }
	100%{	border: 2px solid rgb(178,11,43); }
}

/* Normalize */
html {
	font-family: Verdana, sans-serif;
	font-size: 0.625em;
}

body, body *, body *::before, body *::after { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body { 
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
	min-height: 100vh;
	color: rgb(255,255,255);
    background-color: rgb(36,36,40);
}

li { 
	list-style: none;
}

a, a:link, a:visited, a:hover, a:focus, a:active{ 
	text-decoration: none;
}

img, button, a img, a:link img, a:visited img, a:hover img, a:focus img, a:active img { 
	border: 0 none;
}

button, img, a, a:link, a:visited, a:hover, a:focus, a:active,
a img, a:link img, a:visited img, a:hover img, a:focus img, a:active img {
	outline: 0;
}

img { 
	width: 100%;
	height: auto;
}

.blind{
    font-size: 0.1rem !important; 
	line-height: 0.1rem !important;
	padding: 0 !important; 
	margin: 0 !important; 
	top: 0 !important; 
	left: -99999px !important;
	position: absolute !important; 
	display: inline !important;
	overflow: hidden !important;
	z-index: 1 !important;
	white-space: nowrap !important;
}


/* Typography */
main h2 {
	font-size: 1.8rem;
	line-height: 1.75;
	letter-spacing: .25rem;
	text-transform: uppercase;
	margin-bottom: 21px;
}
main h3 {
	font-size: 1.4rem;
	line-height: 1.75;
	letter-spacing: .15rem;
	margin-bottom: 3px;
}
main p {
	font-size: 1.2rem;
	line-height: 1.75;
	letter-spacing: .15rem;
	margin: 3px 0;
}


/* U-Interface */
body > header, main {
    max-width: 1036px;
    margin: 0 auto;
}
html[lang="fr"] *[lang="en"],
html[lang="en"] *[lang="fr"] {
	display: none;
}

body > header {
	background-image: url('../../store/interface/background_hive_384.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 384px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 348px;
    padding: 24px;
}

body .block {
	width: 100vw;
	max-width: 428px;
}

body .block h1 {
    position: relative;
}

body .block nav {
    margin-top: 24px;
}
body .block ul {
    display: flex;
    justify-content: end;
}
body .block li + li {
    margin-left: 32px;
}
body .block nav a,
body .block nav a:link,
body .block nav a:visited {
    font-family: "Barlow Semibold", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.75;
    letter-spacing: .15rem;
    text-transform: uppercase;
    text-align: center;
    color: rgb(11,11,12);
    background-color: rgb(240,240,242);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    padding: 4px 12px 3px;
    display: block;
}
body .block nav a:hover,
body .block nav a:focus,
body .block nav a:active,
body .block nav a.selected {
    color: rgb(255,255,255);
    background-color: rgb(178,11,43);
}

main {
    text-align: center;
    padding: 0 24px;
}
main header h2 {
	color: rgb(178,11,43);
    background-color: rgba(11,11,12,.33);
	padding: 12px;
	-webkit-animation: FlashOn 1.5s ease-in-out infinite;
    animation: FlashOn 1.5s ease-in-out infinite;
}

footer {
	padding: 24px;
}

/* Medias */
@media ( min-width:960px ){
	main h2 {
		font-size: 2.1rem;
	}
	main h3 {
		font-size: 1.6rem;
	}
	main p, main li {
		font-size: 1.4rem;
    }
}
@media (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
    body > header{
        background-image: url('../../store/interface/background_hive_768.jpg');
    }
}
@media (-webkit-min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx){
    body > header{
        background-image: url('../../store/interface/background_hive_1152.jpg');
    }
}


/*  Author */
#author {
	text-align: center;
	margin: 24px 0;
}
#author p {
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: rgb(186,186,191);
	background-color: transparent;
}