@charset "utf-8";
/* 
	Author :: Elodie BAYET
	  Role :: Fullstack Web Developer
	  Date :: 2020.10 + 2021.06 + 2021.12
	Origin :: Belgium, EU
*/

/*
Content :
	(•• Fonts)
	•• Models
	•• Typography
	•• Globals
	•• Composition
*/

/*
	Models
*/

/* Variables */
:root {
	/* General Colors */
	--font-color: rgb(240,240,242);
    --bg-color: rgb(36,36,40);
	--bright : rgb(255,255,255);
	--obscur: rgb(11,11,15);
	--trans-grey: rgba(133,133,140, .5);
	/* Background Color Declined */
	--x-light: rgb(212,212,216);
    --light: rgb(186,186,191);
    --m-light: rgb(149,149,165);
    --medium: rgb(133,133,140);
    --m-dark: rgb(107,107,114);
    --dark: rgb(83,83,89);
    --x-dark: rgb(58,58,64);
	/* Brand Colors */
	--lighten: rgb(194,232,0);
	--origin: rgb(170,205,0);
	--darken: rgb(156,178,0);
	--blacken: rgb(114,155,0);
	/* Errors Colors */
	--lt-error: rgb(255, 37, 73);
	--md-error : rgb(178,11,43);
	--dk-error : rgb(107, 7, 25);
	/* Icons : 1 icon = 18px/44px */
	--ui-icons: url('https://www.elodiebayet.com/store/interface/navigation_icons_gn.svg'); /* 72 x 1760 */
		--ui-sizes: 18px 440px;
		--ui-bars: 0px; /* 0*44px */
		--ui-cross: -44px; /* 1*44px */
		--ui-prev: -88px; /* 2*44px */
		--ui-next: -132px; /* 3*44px */
		--ui-begin: -176px;
		--ui-end: -220px;
		--ui-active: -264px;
		--ui-grab: -308px;
		--ui-more: -352px;
		--ui-social: -396px;
		/* Small Sizes */
		--ui-sizes-sm: 9px 220px;
		--ui-bars-sm: 0px; /* 0*22px */
		--ui-cross-sm: -22px; /* 1*22px */
		--ui-prev-sm: -44px; /* 2*22px */
		--ui-next-sm: -66px; /* 3*22px */
		--ui-begin-sm: -88px;
		--ui-end-sm: -110px;
		--ui-active-sm: -132px;
		--ui-grab-sm: -154px;
		--ui-more-sm: -176px;
		--ui-social-sm: -198px;
}

/* Animations */
@-webkit-keyframes TipUp {
	0% { bottom: 0%; opacity: 0.0; }
	33% { bottom: 33%; opacity: 0.0; }
	100% { bottom: 100%; opacity: 1.0; }
}
@keyframes TipUp {
	0% { bottom: 0%; opacity: 0.0; }
	33% { bottom: 33%; opacity: 0.0; }
	100% { bottom: 100%; opacity: 1.0; }
}
@-webkit-keyframes TipDown {
	0% { top: 0%; opacity: 0.0; }
	33% { top: 33%; opacity: 0.0; }
	100% { top: 100%; opacity: 1.0; }
}
@keyframes TipDown {
	0% { top: 0%; opacity: 0.0; }
	33% { top: 33%; opacity: 0.0; }
	100% { top: 100%; opacity: 1.0; }
}
@-webkit-keyframes Pulsing {
    0% { background-color: var(--bright); top: 8px; height: 32px; }
    50%, 100% { background-color: var(--lighten); top: 16px; height: 16px; }
}
@keyframes Pulsing {
    0% { background-color: var(--bright); top: 8px; height: 32px; }
    50%, 100% { background-color: var(--lighten); top: 16px; height: 16px; }
}
@-webkit-keyframes Spin {
	0% { transform: rotate(0deg); }
	50% { transform: rotate(180deg); }
	100% { transform: rotate(360deg); }
}
@keyframes Spin {
	0% { transform: rotate(0deg); background-color: var(--blacken); }
	50% { transform: rotate(180deg); background-color: var(--lighten); }
	100% { transform: rotate(360deg); background-color: var(--blacken); }
}

/*
	Typography
*/
body {
	background-color: var(--bg-color);
	color: var(--font-color);
}


/*
	Globals
*/

/* Effects and Transitions */
a, a:link, a:visited, main button,
#uihead .navigation, #uihead button,
.patchwork .hard .icon,
.project time, .project .cover img,
.folios figure, .folios img, .folios figcaption,
.shares ul { 
	-webkit-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

/* Any navigation button */
.uinav {
	color: inherit;
	background-color: transparent;
	background-image: var(--ui-icons);
	background-repeat: no-repeat;
	background-size: var(--ui-sizes);
	height: 44px;
	width: 44px;
	display: inline-block;
}

/* Borders and Separators */
hr {
	background-repeat: no-repeat;
	padding-top: 48px;
	margin-bottom: 48px;
}
.twinlines, .underline, .separator {
	background-repeat: no-repeat;
	padding-bottom: 13px;
	margin-bottom: 12px;
}
hr,
.underline {
	background-position: 50% 100%;
	background-size: 284px 1px;
}
.separator {
	background-position: 0% 100%;
	background-size: 48px 1px;
}
hr,
.underline, 
.separator {
	background-image: linear-gradient( 90deg, var(--trans-grey), var(--trans-grey) );
}
.twinlines {
	background-image: linear-gradient( 90deg, var(--trans-grey), var(--trans-grey) ), linear-gradient( 90deg, var(--trans-grey), var(--trans-grey) );
	background-position: 50% 0%, 50% 100%;
	background-size: 518px 1px;
	padding-top: 14px;
}

/* Usual Colors */
main *:not(.whiteboard) .light,
main *:not(.whiteboard) .stats p > span {
	color: var(--light);
	background-color: transparent;
}
main .whiteboard .light,
main .whiteboard .stats p > span {
	color: var(--m-dark);
	background-color: transparent;
}

main *:not(.whiteboard) .green,
main *:not(.whiteboard) .stats p > span strong {
	color: var(--lighten);
	background-color: transparent;
}
main .whiteboard .green,
main .whiteboard .stats p > span strong {
	color: var(--blacken);
	background-color: transparent;
}


/*
	Composition
*/

/* Navigation */
.navigation li a,
.navigation li a:link,
.navigation li a:visited{
	color: var(--bright);
	background-color: transparent;
}
.navigation li a:hover,
.navigation li a:focus,
.navigation li a:active,
.navigation li.selected a{
	color: var(--lighten);
	background-color: transparent;
}

/* Main U-Interface Header */
#uihead {
	color: inherit;
	background-color: var(--bg-color);
	box-shadow: 0 2px 12px 4px var(--bg-color);
}
#uihead .headline {
	color: inherit;
	background-color: var(--bg-color);
}
#uihead .uinav {
	background-color: var(--bg-color);
	background-position: 13px var(--ui-cross);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
#uihead .uinav:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
#uihead.closed .uinav {
	background-position: 13px var(--ui-bars);
}
#uihead .applogo {
	color: inherit;
	background-color: var(--bg-color);
}

/* Main U-Interface Footer */
#uifoot .socialmenu li a,
#uifoot .socialmenu li a:link,
#uifoot .socialmenu li a:visited{
	color: var(--bright);
	background-color: transparent;
	-webkit-filter: grayscale(99%);
	filter: grayscale(99%);
	opacity: .9;
}
#uifoot .socialmenu li a:hover,
#uifoot .socialmenu li a:focus,
#uifoot .socialmenu li a:active{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
#uifoot .socialmenu li .symbol{
	border-radius: 2px;
}

@media ( max-width:959px ){
	#uihead .navigation nav ~ nav {
		background-image: linear-gradient( 90deg, var(--dark), var(--dark) );
		background-position: 50% 0%;
		background-size: 48px 1px;
		background-repeat: no-repeat;
		padding-top: 1px;
	}
}

/* Main Content */
main h1 {
	color: rgb(0,0,0); /* Must be very black */
	background-color: transparent;
}

main :not(.whiteboard) a:not([class]),
main :not(.whiteboard) a:not([class]):link, 
main :not(.whiteboard) a:not([class]):visited{
	color: var(--lighten);
	background-color: transparent;
}
main :not(.whiteboard) a:not([class]):hover,
main :not(.whiteboard) a:not([class]):focus,
main :not(.whiteboard) a:not([class]):active{
	color: var(--origin);
	background-color: transparent;
}

main .whiteboard a:not([class]),
main .whiteboard a:not([class]):link,
main .whiteboard a:not([class]):visited{
	color: var(--blacken);
	background-color: transparent;
}
main .whiteboard a:not([class]):hover,
main .whiteboard a:not([class]):focus,
main .whiteboard a:not([class]):active{
	color: var(--darken);
	background-color: transparent;
}

/* Noscript Information */
main noscript {
	opacity: .75;
	border: 1px solid var(--lt-error);
}

/* Nomodule Information */
main .nomodule {
	color: var(--m-light);
}
main .nomodule samp {
	border: 1px solid var(--dk-error);
	padding: 9px;
}

/* Custom Section */
main .whiteboard {
	color: var(--bg-color);
	background-color: var(--font-color);
	z-index: 40;
	box-shadow: 0 4px 8px 2px rgba(0,0,0,.66);
}
main .greentie {
	color: inherit;
	background-color: var(--origin);
	z-index: 38;
	height: 24px;
	top: 12px;
	margin-right: 3.75%;
	margin-left: 3.75%;
	padding: 0;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.75);
}
main .whiteboard + .greentie {
	z-index: 39;
	height: 36px;
	top: -18px;
	opacity: .9;
}

/* Share System */
.shares button {
	color: var(--bright);
	background-color: transparent;
}
.shares li a,
.shares li a:link,
.shares li a:visited {
	color: var(--bright);
	background-color: transparent;
	opacity: .7;
}
.shares li a:hover,
.shares li a:focus,
.shares li a:active {
	opacity: 1.0;
}
.shares li .symbol {
	padding: 3px;
}
.shares li a:hover .symbol,
.shares li a:focus .symbol,
.shares li a:active .symbol {
	border: 1px solid var(--lighten);
}
.shares button .symbol,
.shares li .symbol {
	color: var(--bright);
	background-color: rgba(0,0,0,.33);
	border: 1px solid var(--bright);
	border-radius: 18px;
	width: 36px;
	height: 36px;
}
.shares button .symbol{
	background-image: var(--ui-icons);
	background-repeat: no-repeat;
	background-size: var(--ui-sizes);
	background-position: 8px -49px; /* special case */
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
.shares.closed button .symbol{
	background-position: 7px -401px; /* special case */
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}