@charset "utf-8";
/* 
	Author :: Elodie BAYET
	  Role :: Fullstack Web Developer
	  Date :: 2020.10 + 2021.06 + 2021.12
	Origin :: Belgium, EU
*/

/* Information Block */
.info h3 span {
	font-family: "Barlow Italic", sans-serif;
	font-style: italic;
	font-weight: 400;
	color: var(--light);
}

/* Response Status Block */
.status {
	border-width: 1px;
	border-style: solid;
	padding: 0px 12px 18px;
}
.status.success {
	border-color: var(--origin);
}
.status.error {
	border-color: var(--md-error);
}

/* Form Block */
form div p {
	font-family: "Barlow Semibold Italic", sans-serif;
	font-weight: 600;
	font-style: italic;
}
form .invalid .checkon,
form .invalid input,
form .invalid textarea,
form input[type="submit"] {
	font-family: "Barlow Semibold", sans-serif;
	font-weight: 600;
}

form input[type="text"],
form input[type="email"],
form select,
form textarea {
	color: var(--bright);
	background-color: var(--bg-color);
	border-bottom: 1px solid var(--m-dark);
}
form select option {
	color: var(--bright);
	background-color: var(--bg-color);
}

form div p {
	color: var(--bright);
	-webkit-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
form .invalid p {
	background-color: var(--md-error);
}
form .invalid .checkon,
form .invalid input,
form .invalid textarea {
	color: var(--lt-error);
	background-color: transparent;
}

form input[type="submit"] {
	color: var(--obscur);
	background-color: var(--lighten);
	text-transform: uppercase;
	-webkit-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
form input[type="submit"]:disabled {
	color: var(--bg-color);
	background-color: var(--x-dark);
}
form input[type="submit"]:not(:disabled):hover {
	background-color: var(--origin);
}