@charset "utf-8";
/* 
	Author :: Elodie BAYET
	  Role :: Fullstack Web Developer
	  Date :: 2020.10 + 2021.06 + 2021.12
	Origin :: Belgium, EU
*/

/*
Content : 
	•• Common & Generic
	•• Lists : .list, .listitem, .listline, a.button, a.link
	•• Elements : button.button, .skill, .timelapse
	•• Dedicated Content : .anecdotes, .filters, .works, .stats
	•• Evolved System : .loading, .tooltip
*/


/*
	Allover Declarations
*/

/* Anything disabled */
.disabled:hover {
	cursor: not-allowed;
}

/* Elements disabled */
.button.disabled,
.link.disabled {
	opacity: 0.5;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

/* Module error */
/* padding 6px 0 was removed from .errnote{} */
.errnote::before{
	content: '[!] -';
	font-size: 1.4rem;
	font-weight: 700;
	color: var(--lt-error);
	margin-right: 6px;
}


/*
	Lists
*/

/* Classic Lists */
.list li::before{
	color: var(--lighten);
	background-color: transparent;
}

/* Special Lists */
.listitem.apart li ~ li::before {
	color: var(--m-dark);
}

.listline.apart li ~ li::before {
	color: var(--blacken);
}

/* Pictorial <a> elements in Special Lists */
a.button.url span,
a.link.url span {
	width: 18px;
	height: 22px;
	background-repeat: no-repeat;
}
a.button.url span.pdf,
a.link.url span.pdf {
	background-image: url("https://www.elodiebayet.com/store/icons/icon_reader.svg");
}
a.button.url span.github,
a.link.url span.github {
	background-image: url("https://www.elodiebayet.com/store/icons/icon_github.svg");
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
a.button.url span.bitbucket,
a.link.url span.bitbucket {
	background-image: url("https://www.elodiebayet.com/store/icons/icon_bitbucket.svg");
}
a.button.url span.linkedin,
a.link.url span.linkedin {
	background-image: url("https://www.elodiebayet.com/store/icons/icon_linkedin.svg");
}
a.button.url span.behance,
a.link.url span.behance {
	background-image: url("https://www.elodiebayet.com/store/icons/icon_behance.svg");
}
a.button:not(.url) > span,
a.link:not(.url) > span {
	width: 9px;
	line-height: 23px;
	background-image: var(--ui-icons);
	background-repeat: no-repeat;
	background-size: var(--ui-sizes-sm);
}
a.button.toggle > span,
a.link.toggle > span {
	background-position: 0px var(--ui-active-sm);
}
a.button.anchor > span,
a.link.reset > span,
a.link.anchor > span {
	background-position: 0px var(--ui-end-sm);
}
a.button:not(.url).selected,
a.link:not(.url).selected {
	color: var(--lighten);
}
a.button:not(.url).selected > span,
a.link:not(.url).selected > span {
	background-position: 0px var(--ui-cross-sm);
	-webkit-filter: brightness(500%) grayscale(99%);
	filter: brightness(500%) grayscale(99%);
}

a.button {
	color: var(--bright);
	background-color: var(--x-dark);
}
a.button:not(.disabled):hover {
	background-color: var(--dark);
}

a.link {
	color: var(--bright);
	background-color: transparent;
}
a.link:not(.disabled):hover {
	color: var(--lighten);
}


/*
	Elements
*/

/* Pictorial button elements */
button.button {
	color: var(--font-color);
	background-color: var(--bg-color);
	border-width: 1px;
	border-style: solid;
	border-color: var(--origin);
	border-radius: 2px;
}
button.button:not(.disabled):hover{
	color: var(--font-color);
	background-color: var(--x-dark);
	border-color: var(--lighten);
}

/* Skill Box */
.skill .title{
    border-top: 1px solid var(--dark);
}
.skill p small{
	color: rgb(159,159,165);
    background-color: transparent;
}

/* Timelapse Box */
.timelapse {
	border-bottom: 1px solid var(--blacken);
}
main *:not(.whiteboard) .timelapse span{
	color: var(--origin);
	background-color: transparent;
}
main .whiteboard .timelapse span{
	color: var(--m-dark);
	background-color: transparent;
}



/*
	Dedicated Content
*/

/* Anecdotes Box */
.anecdotes {
	background-color: var(--x-dark);
	padding: 6px 32px 32px;
	border-top: 8px double var(--bg-color);
}

/* Filters Block */
.filters {
	margin-bottom: 12px; /* space for bottom arrow */
}
.filters h4 {
	font-family: "Barlow Light Italic", sans-serif;
	font-style: italic;
	text-transform: capitalize;
	color: var(--x-light);
	background-color: transparent;
}
.filters ul {
	border: 1px solid var(--dark);
	padding: 18px 12px;
	position: relative;
}
.filters ul::after {
	border-color: var(--dark) transparent transparent transparent;
	top: 100%; 
	content: " ";
	position: absolute;
	border-width: 9px;
	border-style: solid;
}

/* Statistics Block */
.stats p {
    background-image: linear-gradient( 90deg, var(--blacken), var(--blacken) );
	background-repeat: no-repeat;
	background-position: 0% 100%;
	background-size: 48px 1px;
    padding-bottom: 13px;
}

/* Works Block */
.works article h3 b {
	padding-right: 6px;
}
.works article h3 b ~ b::before {
	content: "••";
	color: var(--m-dark);
	padding-right: 10px;
}
.works article h4 {
	color: var(--light);
	background-color: transparent;
	text-transform: capitalize;
}
.works article p {
	font-family: "Barlow Italic", sans-serif;
	font-style: italic;
}
.works article h3 small {
	font-family: "Barlow Light", sans-serif;
	font-weight: 200;
	color: var(--m-dark);
	background-color: transparent;
}

/* Legislations Block */
.legal h2 b {
	color: var(--darken);
}
.legal h3 span, .legal h4 span{
	color: var(--m-light);
}

/* Folios Block */
.folios figcaption {
	padding-left: 12px;
	border-left: 1px solid var(--dark); 
}
.folios.fly figure img {
	border: 1px solid var(--obscur);
}
.folios.fly figure:hover {
	cursor: pointer;
}
.folios.fly figure:hover img {
	border: 1px solid var(--bright);
}


/*
	Evolved System
*/


/* Patchwork */
.patchwork .hard .icon {
    border-width: 6px;
    border-style: solid;
    border-color: var(--x-dark);
    border-radius: 42px;
    opacity: .85;
}
.patchwork .hard .icon:hover {
    border-style: double;
    border-color: var(--m-dark);
    opacity: 1;
}
.patchwork .soft div {
    background-image: radial-gradient(var(--origin), transparent, transparent, transparent, transparent);
    background-repeat: space;
    background-size: 9px 9px;
    transform: rotate(45deg);
}
.patchwork .soft h5 {
    transform: rotate(-45deg);
}
@media (min-width:399px)  {
    .patchwork .hard .icon {
        border-width: 9px;
    }
}


/* Project */
.project h2 {
    color: var(--dark);
}
.project h3 em {
    color: var(--m-dark);
}
.project time {
    color: var(--font-color);
    border-bottom: 1px solid var(--font-color);
}
.project .route:hover + time {
    color: var(--lighten);
    border-bottom: 4px solid var(--lighten);
}
.project .cover img {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
}
.project .route:hover + time + .summary + .cover img {
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

/* Loading */
.onload {
	position: relative;
}
.onload > *:not(.spin) {
	opacity: .5;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}
.onload .spin {
	width: 72px;
	height: 72px;
	top: 50%;
	left: 50%;
	margin-top: -36px;
	margin-left: -36px;
	position: absolute;
	padding: 24px;
	background-clip: content-box;
	border-top: 6px double var(--bright);
	border-bottom: 6px double var(--bright);
	border-right: 6px double var(--lighten);
	border-left: 6px double var(--lighten);
	border-radius: 50%;
	-webkit-animation: Spin 2s linear infinite;
	animation: Spin 2s linear infinite;
}

/* Tooltip  */
@media (min-width:960px) and (any-hover:hover){
	.tooltip .tip { 
		font-family: "Barlow Semibold", sans-serif;
		font-weight: 600;
		text-transform: uppercase;
		color: rgb(0,0,0);
		background: var(--bright);
		box-shadow: 2px 4px 8px 2px rgba(0,0,0,.5);
	}
	.tooltip [class*="top-"] {
		background-image: -webkit-linear-gradient(rgb(232,232,232), var(--bright));
		background-image: linear-gradient(rgb(232,232,232), var(--bright));
	}
	.tooltip:hover [class*="top-"] {
		-webkit-animation: TipUp .33s ease-in-out;
		animation: TipUp .33s ease-in-out;
	}
	.tooltip [class*="bottom-"] {
		background-image: -webkit-linear-gradient(var(--bright), rgb(232,232,232) );
		background-image: linear-gradient(var(--bright)  rgb(232,232,232) );
	}
	.tooltip:hover [class*="bottom-"]{
		-webkit-animation: TipDown .33s ease-in-out;
		animation: TipDown .33s ease-in-out;
	}
	.tooltip .tip::after {
		content: " ";
		position: absolute;
		border-width: 5px;
		border-style: solid;
	}
	.tooltip [class*="top-"]::after {
		border-color: var(--bright) transparent transparent transparent;
		top: 100%; 
	}
	.tooltip [class*="bottom-"]::after {
		left: 10px;
		border-color: transparent transparent var(--bright) transparent;
		bottom: 100%; 
	}
	.tooltip [class*="-right"]::after {
		left: 10px;
	}
	.tooltip [class*="-left"]::after {
		right: 10px;
	}
}