@charset "utf-8";
/* 
	Author :: Elodie BAYET
	  Role :: Fullstack Web Developer
	  Date :: 2020.10 + 2021.06 + 2021.12
	Origin :: Belgium, EU
*/

/* Special Display Font */
main h1 a::before {
    color: var(--lighten);
    -webkit-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
main h1 a, main h1 a:link, main h1 a:visited,
main h1 a:hover, main h1 a:focus, main h1 a:active {
	color: rgb(0,0,0) !important;
	background-color: transparent !important;
}
main h1 a:hover::before {
    color: var(--lighten);
    opacity: 1;
}
main h1 a:hover, main h1 a:focus, main h1 a:active {
	padding-left: 6px;
}
main h1 span {
    color: var(--light);
}
main h1 span::before {
    color: var(--origin);
    content: "::";
}

/* Block Summary */
#summary h3 span {
    color: var(--m-light);
    background-color: transparent;
}
#summary .date {
    background-image: linear-gradient(90deg, var(--dark), var(--dark));
    background-repeat: no-repeat;
    background-size: 280px 1px;
    background-position: 50% 50%;
    text-align: center;
}
#summary .date time {
    color: rgb(0,0,0);
    background-color: var(--lighten);
    padding: 4px 12px;
    display: inline-block;
}
#summary .banner {
    box-shadow: 0 4px 8px 2px rgba(0,0,0,.66);
}

/* Bypass System */
.bypass a, .bypass a:link, .bypass a:visited {
    color: var(--light) !important;
    background-color: transparent !important;
    border: 1px solid var(--x-dark);
}
.bypass a:hover, .bypass a:focus, .bypass a:active {
    color: var(--bright) !important;
    background-color: var(--x-dark) !important;
}
.bypass a::after {
    content: " ";
    position: absolute;
    border-width: 9px;
    border-style: solid;
    top: 50%;
    margin-top: -8px;
}
.bypass.left a::after {
    border-color: transparent var(--x-dark) transparent transparent;
    right: 100%;
}
.bypass.right a::after {
    border-color: transparent transparent transparent var(--x-dark);
    left: 100%; 
}

@media screen and (min-width: 1280px) {
    .bypass.left a::after,
    .bypass.right a::after {
        top: initial;
        margin-top: initial;
        right: 50%;
        margin-right: -4px;
    }
    .bypass.left a::after {
        border-color: transparent transparent var(--x-dark) transparent;
        bottom: 100%;
    }
    .bypass.right a::after {
        border-color: var(--x-dark) transparent transparent transparent;
        top: 100%; 
        left: auto;
    }
}

/* [!] - Gallery conditions */
@media (min-width:600px) and (min-height:860px), (min-width:860px) and (min-height:600px){
    /* If JS on : Portfolio active */
    html:not(.nojs) #portfolio figure {
        color: inherit;
        background-color: rgba(58,58,64, .5);
    }
    html:not(.nojs) #portfolio figure:hover {
        cursor: pointer;
    }
    html:not(.nojs) #portfolio figure img {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
    html:not(.nojs) #portfolio figure:hover img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    html:not(.nojs) #portfolio figure figcaption {
        color: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(11,12,12, .5), rgba(11,11,12, .9)) ;
        border-left: none;
    }
}