@charset "utf-8";
/* 
	Author :: Elodie BAYET
	  Role :: Fullstack Web Developer
	  Date :: 2020.10 + 2021.06 + 2021.12
	Origin :: Belgium, EU
*/

/* Adding Effects */
.demo .cover img,
.demo .summary .edge {
	-webkit-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

/* Demo Block */
.demo .cover div {
	background-color: var(--dark);
	box-shadow: 3px 4px 8px 2px rgba(0,0,0,.66);
}
.demo a + .cover div img {
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
}
.demo a:hover + .cover div img {
	-webkit-transform: scale(1.05,1.05);
	transform: scale(1.05,1.05);
}
.demo .summary {
	color: var(--font-color);
	background-color: var(--bg-color);
}
.demo .summary .date, 
.demo .summary .title {
	text-shadow: -4px 4px 4px var(--obscur);
}
.demo .summary .date {
	color: var(--lighten);
	background-color: transparent;
	background-image: none;
	background-image: -webkit-linear-gradient( 90deg, var(--m-light), var(--m-light) );
	background-image: linear-gradient( 90deg, var(--m-light),var(--m-light) );
	background-position: 0 14px;
	background-size: 136px 1px;
	background-repeat: no-repeat;
}
.demo .summary .title {
	font-family: "Barlow Light", sans-serif;
	font-weight: 200;
}

.demo .summary .edge {
	color: inherit;
	background-color: var(--bg-color);
}
.demo .summary .edge:nth-child(4) {
	opacity: 1;
	transition-delay: .05s;
}
.demo .summary .edge:nth-child(5) {
	opacity: .75;
	transition-delay: .1s;
}
.demo .summary .edge:nth-child(6) {
	opacity: .5;
	transition-delay: .15s;
}
.demo .summary .edge:nth-child(7) {
	opacity: .25;
	transition-delay: .2s;
}
.demo:hover .summary .edge {
	opacity: 0;
}
.demo:hover .summary .edge:nth-child(4) {
	transition-delay: .2s;
}
.demo:hover .summary .edge:nth-child(5) {
	transition-delay: .15s;
}
.demo:hover .summary .edge:nth-child(6) {
	transition-delay: .1s;
}
.demo:hover .summary .edge:nth-child(7) {
	transition-delay: .05s;
}